*{
	padding: 0;
	margin: 0;
}
body {
	background:#949494;
    transition: background-color 1s linear 0s;
    color:#ffffff;   
}
body::-webkit-scrollbar{
width: 0px;
}
.contenedor{
	display:grid;
}
#headContenedor{
	width: 220px;
	margin: 0 auto;
}

.item{
    border:5px solid red;
    display: none;
}
/*Bombilla*/
.bulb {
	float: left;
    transform: rotate(180deg);
}
.bulb i {
	color:#000000;
	font-size:220px;
	transition:all 0.3s;
}
.bulb i.on {
	color:#ffffff;
	text-shadow: 0 0 100px #ffffff;
    font-size:220px;
	transition:all 0.5s;
}
.elipsis i{
	color:#000000;
	font-size:180px;
	transition:all 0.3s;
}
