body {
	background:#949494;
	display:flex;
	justify-content: center;
	align-items: center;
    transition: background-color 1s linear 0s;
    color:#ffffff;
}
#text{
    display: none;
}
#text1{
    display:none;
}
/*Bombilla*/
.bulb {    	
	left: 50%;
    right: 50%; 
	top: 0; 
	position:fixed;
    transform: rotate(180deg);
	margin-bottom:50px;
}
.bulb i {
	color:#000000;
	font-size:280px;
	transition:all 0.3s;
}
.bulb i.on {
	color:#ffffff;
	text-shadow: 0 0 100px #ffffff;
    font-size:280px;
	transition:all 0.3s;
}
